attrs==26.1.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.9
construct==2.10.70
idna==3.18
lxml==6.1.1
netifaces>=0.11.0
numpy>=2.0.2
pycparser==2.23
pyOpenSSL==26.3.0
PyYAML==6.0.3
PyXB-X==1.2.6.3
rawsocket==0.2
requests==2.32.5
typing_extensions==4.16.0
urllib3==2.6.3
starpy @ git+https://github.com/phzyx/starpy@633d3dbc9f5df84dd10f4b3d4eaaa62508c24ef6
scapy==2.7.0
asyncssh==2.21.1
websockets==15.0.1
aiohttp==3.13.5
dnslib==0.9.26
